{% extends "layout.html" %}

{% block title %}
    {% if name %}
        {{ name }}
    {% else %}
        Reader
    {% endif %}
{% endblock %}

{% block content %}
    <table id="list" class="table" style="width:100%;text-align:left;background-color:black;color:gold;">
        <thead>
        {% for column in columns_to_display %}
            <th>{{ column }}</th>
        {%- endfor -%}
        </thead>
        <tbody>

        {% for row in df %}
            <tr style="background-color:black;color:gold;">
                <td>{{ row.published }}</td>
                <td>{{ row.source }}</td>

                <td><a href="{{ row.link }}">{{ row.title }}</a></td>
            </tr>
        {%- endfor -%}
        </tbody>
    </table>

{% endblock %}
